ul,
li {
      margin: 0;
      padding: 0 0 0 9%;
      list-style: none;
}

#file-label {
      display: inline-flex;
      vertical-align: middle;
      font-size: 12px;
      line-height: 18px;
}

#file-label mat-icon {
      font-size: 18px;
      text-align: center;
}

#file-label a {
      cursor: pointer;
}
.btn-danger{
      background-color: #7A1316 !important;
  }
  .btn-info{
      background-color: #103355 !important;
  }
  .nav-tabs{
      border: none !important;
  }
  .card-header{
      background: #103355 !important;
  }
  .sidebar[data-color=danger] li.active > a {
      background-color: #7A1316 !important;
      box-shadow: 0 4px 20px 0px rgba(121, 39, 39, 0.14), 0 7px 10px -5px rgba(124, 49, 43, 0.4);
  }

  th  { 
    white-space: nowrap; 
 } 
 td  { 
    white-space: nowrap; 
 } 
 .main-panel .main-content{
    margin-top: 4% !important;
}


:host ::ng-deep .multiselect-dropdown .dropdown-btn {
    display: inline-block!important;
    width: 100%!important;
    padding: 12px 8px 2px 0px!important;
    margin-bottom: 0!important;
    font-size: 14px !important;
    font-weight: 400!important;
    line-height: 1.7 !important;
    border: none !important;
    border-bottom: 1px solid #8e8585 !important;
    text-align: left!important;
    vertical-align: middle!important;
    cursor: pointer!important;
    background-image: none!important;
    border-radius: 0px !important;
 }

 :host ::ng-deep .multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret
 {
     right : -10px !important;
     top : 5px !important;
 }


 .primaryJobLabel
 {
    font-size: 11px !important;
    color:#928a8a !important;
    position: absolute;
    font: inherit;
    pointer-events: none;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    top: -5px;
    transform-origin: 0 0;
 }

 .downloadFileBtn {
    background-color: #103355;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 15px;
  }
 
