<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-info">
                      <h4 class="card-title">{{pageTitle}}</h4>
                  </div>
                  <form>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-lg-1" style="width: 10.499999995%;
                        flex: 0 0 10.499%;max-width: 10.499%;">
                          <mat-form-field >
                            <mat-label>Branch ID</mat-label>
                            <mat-select #mySelect  [(value)]="selected" [disabled]="isHeaderDisable" (selectionChange)='onBranchChange($event)'>
                              <mat-option *ngFor="let branchObj of branchMasterArray;let i = index" [value]="branchObj.branchId" >
                                {{ branchObj.branchId }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-md-2">
                          <mat-form-field>
                            <mat-label>Branch Name</mat-label>
                            <input type="text" matInput [(value)]="branchName" readonly>
                          </mat-form-field>
                        </div>
                        <div class="col-md-2 multiDropDown" style="width: 21.499999995%;
                                        flex: 0 0 21.499%;max-width: 21.499%;">
                          <!-- <mat-form-field >
                            <mat-label>Select Primary Job</mat-label>
                            <mat-select name="primaryJob" [(ngModel)]="primaryJobSelected"
                            (selectionChange)='onPrimaryJobChange($event)'>
                              <mat-option value="All">All</mat-option>
                              <mat-option *ngFor="let primaryJobObj of primaryJobsArray;let i = index" [value]="primaryJobObj.primaryJob" >
                                {{ primaryJobObj.primaryJob }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field> -->
                          <span class="primaryJobLabel">Primary Jobs</span>
                          <ng-multiselect-dropdown [placeholder]="'Select Primary Jobs'" 
                            [settings]="dropdownSettings"
                            [data]="primaryJobsArray" 
                            [(ngModel)]="selectedItems" 
                            (onSelect)="onItemSelect($event)" 
                            (onSelectAll)="onSelectAll($event)" 
                            (onDeSelect)="onItemDeSelect($event)"
                            (onDeSelectAll)="onDeSelectAll($event)" 
                            name='primaryJobSelect'>
                          </ng-multiselect-dropdown>
                        </div>
                        <div class="col-md-2">
                          <mat-form-field>
                            <mat-label>Payroll Date</mat-label>
                            <input type="text" matInput value="{{ payrollDate | date : 'MM/dd/yyyy'}}" readonly>
                          </mat-form-field>
                          <!-- <mat-form-field>
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker" name="weekDate" [(ngModel)]="weekDate" 
                            (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)"
                            [disabled]="isHeaderDisable">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field> -->
                        </div>
                        <div class="col-md-2">
                          <mat-form-field>
                            <mat-label>Week Number</mat-label>
                            <input type="text" matInput value="{{ weekId }}" readonly>
                          </mat-form-field>
                        </div>
                        <div class="col-md-2">
                          <mat-form-field>
                            <mat-label>Total Amount</mat-label>
                            <input type="text" matInput value="{{ totalAmount | currency }}" readonly>
                          </mat-form-field>
                        </div>
                      </div>
                      
                      <div class="table-responsive" #formTabs>
                      <table class="table table-striped table-bordered table-sm row-border hover" *ngIf="inputFormArray && inputFormArray.length >0" datatable="ng" [dtOptions]="dtOptions">
                        <thead>
                          <tr>
                            <th [ngStyle]="{'width.px': 60}">Employee #</th>
                            <th>Employee Name</th>
                            <th>Primary Job</th>
                            <th>Region</th>
                            <th>Pay Group</th>
                            <th>Incentive</th>
                            <th>Comments</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let group of inputFormArray; let index = index">
                            <!-- <td>{{group.fbmId}}</td> -->
                            <td [ngStyle]="{'width.px': 60}">{{group.employeeId}}</td>
                            <td>{{group.employeeName}}</td>
                            <td>{{group.primaryJob}}</td>
                            <td>{{group.location}}</td>
                            <td>{{group.payGroup}}</td>
                            <td class="text-right">
                              <mat-form-field class="example-full-width" [ngStyle]="{'width.px': 80}">
                                <!-- <mat-label>Incentive</mat-label> -->
                                <input matInput #incentiveAmount  name="incentive-{{index}}" (ngModelChange)="onAmountChange(group, $event, index)"
                                [disabled]="group.statusId == 1 || group.statusId == 2 || group.statusId == 5 
                                || (!this.paramFormHeaderId && group.statusId == 4) || (this.paramStatusId == 4 && group.statusId == 3)
                                || isFormDisable == true || (!this.paramFormHeaderId && group.statusId == 3)
                                || (this.paramStatusId == 4 && group.createdBy && group.createdBy != userDetails.UserId)
                                || isPrevWeekFormDisable == true
                                || (this.paramStatusId == 4 && group.formHeaderId && this.paramFormHeaderId != group.formHeaderId)" 
                                [(ngModel)]="inputFormArray[index].incentiveAmount" 
                                currencyMask [options]="{align: 'left',prefix: '$'}">
                              </mat-form-field>
                            </td>
                            <td>
                              <mat-form-field class="example-full-width">
                                <mat-label>Comments</mat-label>
                                <input matInput placeholder="Add your comment here" value="" id="comments-{{index}}" name="comments-{{index}}" 
                                [(ngModel)]="inputFormArray[index].comments" (ngModelChange)="onCommentsChange(group, $event, index)"
                                [disabled]="group.statusId == 1 || group.statusId == 2 ||  group.statusId == 5 
                                || (!this.paramFormHeaderId && group.statusId == 4) || (this.paramStatusId == 4 && group.statusId == 3)
                                || isFormDisable == true || (!this.paramFormHeaderId && group.statusId == 3)
                                || (this.paramStatusId == 4 && group.createdBy && group.createdBy != userDetails.UserId)
                                || isPrevWeekFormDisable == true
                                || (this.paramStatusId == 4 && group.formHeaderId && this.paramFormHeaderId != group.formHeaderId)">
                              </mat-form-field>
                            </td>
                            <td class="text-center">
                              <input type="checkbox" (change)="selection(group, $event, $event.target.checked)"  name="isSelected-{{index}}" 
                              [(ngModel)]="inputFormArray[index].isSelected" 
                              [disabled]="group.statusId == 1 || group.statusId == 2 || group.statusId == 5
                              || (!this.paramFormHeaderId && group.statusId == 4) || (this.paramStatusId == 4 && group.statusId == 3)
                              || isFormDisable == true || (!this.paramFormHeaderId && group.statusId == 3)
                              || (this.paramStatusId == 4 && group.createdBy && group.createdBy != userDetails.UserId)
                              || isPrevWeekFormDisable == true
                              || (this.paramStatusId == 4 && group.formHeaderId && this.paramFormHeaderId != group.formHeaderId)" />
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table class="table table-striped table-bordered table-sm row-border hover" *ngIf="inputFormArray && inputFormArray.length == 0" datatable="ng" [dtOptions]="dtOptions">
                        <thead>
                          <tr>
                            <th>Employee #</th>
                            <th>Employee Name</th>
                            <th>Primary Job</th>
                            <th>Region</th>
                            <th>Pay Group</th>
                            <th>Incentive</th>
                            <th>Comments</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let detailsObj of inputFormArray; let index = index">
                              <td class="text-center">
                                  No Data Available !!
                              </td>
                          </tr>
                        </tbody>
                        </table>
                      </div>
                      <div class="row mt-3" *ngIf="inputFormArray && inputFormArray.length > 0">
                        <div class="col-md-3">
                          <!-- <ngx-text-editor [placeholder]="'Enter text here...'" [spellcheck]="true" ></ngx-text-editor> -->
                          <mat-form-field>
                            <mat-label>Comments</mat-label>
                            <textarea matInput autocomplete="off" name="formHeaderCommnets" [(ngModel)]="formHeaderCommnets" 
                            [disabled]="isFormDisable || (paramFormHeaderId && paramStatusId  != 3 && paramStatusId  != 4) ||  isPrevWeekFormDisable == true" 
                            name="inputFormComments" cols="35" rows="1" maxlength="500" 
                            placeholder="Input form comments"></textarea>
                          </mat-form-field>
                        </div>
                        <div class="col-md-3 align-middle">
                          <mat-form-field>
                            <ngx-mat-file-input id="fhFileUpload" [disabled]="isFormDisable || (paramFormHeaderId && paramStatusId  != 3 && paramStatusId  != 4) || isPrevWeekFormDisable == true" name="fhFileUpload" 
                            [accept]="accept" multiple="true" placeholder="Upload File"
                            (change)="onFileChange($event)">
                            </ngx-mat-file-input>
                          </mat-form-field>
                          
                          <!-- <input type="file" id="fhFileUpload"  name="fhFileUpload" multiple="multiple" 
                              #fileUppload accept="{{accept}}" /> -->
                              <!-- <input-file placeholder="Add Attachments"></input-file> -->
                        </div>
                        <div class="col-md-6 text-left">
                          <ul style="padding: 0px !important;">
                            <li *ngFor="let file of files" style="padding: 0px !important;">
                              <a>
                                {{file.fileName}}
                                <app-download [disabled]="showProgress" [fileName]="file.fileName" (downloadStatus)="downloadStatus($event)"></app-download>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <button mat-raised-button type="submit" *ngIf="(!isDeleteOption && !isFormDisable && inputFormArray && inputFormArray.length >0) 
                        || (paramStatusId ==4)" tabindex="5"
                        [disabled]="isFormDisable || isPrevWeekFormDisable" (click)="onDraft()" class="btn btn-warning pull-right">Draft</button>
                      <button mat-raised-button type="submit" tabindex="1" *ngIf="(!isFormDisable && inputFormArray && inputFormArray.length >0) || (paramStatusId ==3)" 
                        [disabled]="isFormDisable || isPrevWeekFormDisable" (click)="onSubmit()" class="btn btn-info pull-right">Submit</button>
                      <button mat-raised-button type="submit" 
                      *ngIf="(isDeleteOption && paramStatusId != 4  && inputFormArray && inputFormArray.length >0)" 
                      [disabled]="isFormDisable || isPrevWeekFormDisable" (click)="onDeleteClick()" class="btn btn-danger pull-right">Delete</button>

                      <button *ngIf="userDetails.RoleId != 1 && isFormDisable && inputFormArray 
                      && inputFormArray.length >0 && paramStatusId !=3" 
                        [disabled]="isRejectDisable || isPrevWeekFormDisable" mat-raised-button type="button" 
                      class="btn btn-danger pull-right" (click)="onRejectForm(userDetails.RoleId)">Reject</button>
                      <button *ngIf="userDetails.RoleId != 1 && isFormDisable && inputFormArray && inputFormArray.length >0 && paramStatusId !=3" 
                        [disabled]="isApproveDisable || isPrevWeekFormDisable" mat-raised-button type="button" 
                      class="btn btn-info pull-right" (click)="onApproveForm(userDetails.RoleId)">Approve</button>
                      <div class="clearfix"></div>
                    </div>
                </form>
              </div>
          </div>
    </div>
    <div class="row" *ngIf="auditTrailDetails && auditTrailDetails.length >0">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Audit Trail</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-sm row-border hover" *ngIf="auditTrailDetails && auditTrailDetails.length >0" datatable="ng" [dtOptions]="auditDtOptions">
                  <thead>
                    <tr>
                      <th>Form ID</th>
                      <th>Form Status</th>
                      <th>Approval Stage</th>
                      <th>Approver Email</th>
                      <th>Last Updated On</th>
                      <th>Submitted By</th>
                      <th>Submitted On</th>
                      <th>Comments</th>
                    </tr>
                  </thead>
                  <tbody>
                   <tr *ngFor="let detailsObj of auditTrailDetails; let index = index">
                      <td>{{detailsObj.formHeaderId}}</td>
                      <td>
                        <a *ngIf="detailsObj.formStatus == 'Submitted'" mat-button class="nav-link alert-success">
                          <i class="material-icons">add_task</i> Submitted
                        </a>
                        <a *ngIf="detailsObj.formStatus == 'Approved'" mat-button class="nav-link alert-success">
                          <i class="material-icons">add_task</i> Approved
                        </a>
                        <a *ngIf="detailsObj.formStatus == 'Pending'"  mat-button class="nav-link alert-warning">
                          <i class="material-icons">pending_actions</i> Pending
                        </a>
                        <a *ngIf="detailsObj.formStatus == 'Rejected'"  mat-button class="nav-link alert-danger">
                          <i class="material-icons">close</i> Rejected
                        </a>
                      </td>
                      <td>{{detailsObj.approvalStage}}</td>
                      <td>{{detailsObj.approverEmailId}}</td>
                      <td>{{detailsObj.lastUpdatedOn == '0001-01-01T00:00:00' ? 'NA' : detailsObj.lastUpdatedOn | date : 'MM/dd/yyyy'}}</td>
                      <td>{{detailsObj.submittedBy}}</td>
                      <td>{{detailsObj.submittedOn | date : 'MM/dd/yyyy'}}</td>
                      <td>{{detailsObj.comments}}</td>
                     </tr>
                  </tbody>
              </table>
              <table class="table table-striped table-bordered table-sm row-border hover" *ngIf="auditTrailDetails && auditTrailDetails.length == 0" datatable="ng" [dtOptions]="auditDtOptions">
                  <thead>
                    <tr>
                      <th>Form ID</th>
                      <th>Form Status</th>
                      <th>Approval Stage</th>
                      <th>Approver Email</th>
                      <th>Last Updated On</th>
                      <th>Submitted By</th>
                      <th>Submitted On</th>
                      <th>Comments</th>
                    </tr>
                  </thead>
                  <tbody>
                   <tr *ngFor="let detailsObj of auditTrailDetails; let index = index">
                      <td class="text-center">
                          No Data Available !!
                      </td>
                     </tr>
                  </tbody>
              </table>
          </div>
          </div>
        </div>
        
      </div>
    </div>
    
    
  </div>
</div>
